@import url("../App.css");

footer {
  display: flex;
  justify-content: flex-end;
  color: var(--clr-surface);
  padding: 8px 12px;
  margin-top: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2rem;
  gap: 2rem;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem;
  justify-content: center;
}
